*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    background-color: rgb(158, 92, 92);
    padding-bottom: 20px;
    display: relative;
    height: 100vh;
}
table{
    font-family: sans-serif;
    position: relative;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgb(209, 206, 206);
    padding: 15px;
    border-radius: 15px;
    width: 500px;
    border-spacing: 2px;
    border: 1px solid black;

}
tr:not(.addedRow){
    background: rgb(243, 179, 179);
}

td{
    border-bottom: 1px solid black;
    text-align: center;
    vertical-align: middle;
    height: 25px;
}
.col-0{
    width: 45px;
    border-right: 1px solid black;
    
}
.nav{
    position: relative;
    left: 50%;
    top: 12px;
    transform: translateX(-50%);
    text-align: center;
    vertical-align: middle;
    /* background: #fff; */
}
.nav-elm{
    display: inline-block;
    text-align: center;
    border: 1px solid rgb(87, 87, 87);
    background-color: white;
    margin-left: 10px;
}
.active{
    background:none;
    border: none;
    font-size: 20px;
    font-weight: bold;
}
.col-1{
    width: 150px;
}

input:not(:focus){
    text-align: center;
    
}
input:focus::-webkit-input-placeholder { color:transparent; } 
.inline-block{
    display: inline-block;
}
img{
    height: 15px;
    width: 15px;
}